@model FirstMVCProject.Models.Customer

@{
    ViewBag.Title = "FillCustomerView";
}

<head runat="server">
    <script src="@Url.Content(" ~/Scripts/MicrosoftAjax.debug.js")" type="text/javascript"></script>
    <script src="@Url.Content(" ~/Scripts/MicrosoftMvcAjax.debug.js")" type="text/javascript"></script>
    <script src="@Url.Content(" ~/Scripts/MicrosoftMvcValidation.debug.js")" type="text/javascript"></script>
    @{ Html.EnableClientValidation();}
</head>

<h2>FillCustomerView</h2>


@using (Html.BeginForm("PostCustomer", "Customer", FormMethod.Post))
{
@Html.EditorForModel()
<input type="submit" value="Submit customer data" />
}

@Html.ValidationSummary()